*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

#root {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

.loading {
  font-size: 150rem;
  font-weight: bold;
  text-align: center;
  padding-top: 200rem;
}

.fast-pizza-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20rem;
  padding-right: 20rem;
  background-color: rgb(255, 204, 0);
  padding-top: 19rem;
  padding-bottom: 19rem;
}

.fast-pizza-h1 {
  font-size: 20rem;
  font-weight: 400;
  letter-spacing: 2rem;
}

.search-order-input {
  border: none;
  border-radius: 15rem;
  font-size: 17rem;
  padding: 7rem 40rem 7rem 10rem;
  background-color: rgb(255, 255, 189);
  transition: padding 0.3s ease;
}

.search-order-input:focus {
  padding-right: 70rem;
  outline: 2rem solid rgba(160, 160, 160, 0.349);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.search-order-input::placeholder {
  color: rgb(158, 158, 158);
}

.redux-value-h3 {
  font-size: 15rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* START ORDER PAGE */

.the-best-h1 {
  text-align: center;
  font-size: 30rem;
  letter-spacing: 1rem;
  margin-bottom: 5rem;
  margin-top: 70rem;
}

.straight-h1 {
  text-align: center;
  font-size: 30rem;
  color: rgb(247, 193, 0);
  margin-bottom: 40rem;
}

.welcome-p {
  text-align: center;
  color: rgb(115, 115, 115);
  font-size: 17rem;
  margin-bottom: 15rem;
}

.start-order-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start-order-input {
  padding: 15rem 5rem 15rem 15rem;
  border-radius: 30rem;
  font-size: 18rem;
  width: 270rem;
  border: 1rem solid rgb(224, 224, 224);
  transition: outline 0.3s ease;
  margin-bottom: 20rem;
}

.start-order-input::placeholder {
  color: rgb(184, 184, 184);
}

.start-order-input:focus {
  outline: rgb(255, 208, 0) 3rem solid;
}

.start-ordering-btn {
  font-size: 15rem;
  font-weight: 600;
  background-color: rgb(255, 204, 0);
  padding-top: 20rem;
  padding-bottom: 20rem;
  padding-left: 30rem;
  padding-right: 30rem;
  border-radius: 50rem;
  border: none;
  color: rgb(53, 53, 53);
  transition: background 0.3s ease;
}

.start-ordering-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 221, 0);
}

.h1-list {
  font-size: 330rem;
  text-align: center;
  margin-top: 50rem;
}

/* ORDER PAGE */

.pizza-orders-section {
  display: flex;
  align-items: center;
}

.pizzas-ul {
  list-style-type: none;
  padding-left: 0rem;
  margin: 0 auto;
  width: 50%;
}

/* PIZZA-LI */

.pizza-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1rem solid rgb(216, 216, 216);
  padding-bottom: 8rem;
  padding-top: 8rem;
  width: 100%;
}

.img-info-div {
  display: flex;
  align-items: center;
  gap: 15rem;
}

.pizza-img {
  width: 100rem;
}

.pizza-h3 {
  font-size: 17rem;
  font-weight: 590;
  margin-bottom: 3rem;
}

.ingredients-p {
  font-size: 14rem;
  color: gray;
  font-style: italic;
  text-transform: capitalize;
  padding-bottom: 35rem;
}

.price-p {
  font-size: 15rem;
}

.add-to-cart-btn {
  font-size: 13em;
  font-weight: 600;
  border: none;
  background-color: rgb(255, 204, 0);
  letter-spacing: 0.5rem;
  color: rgb(58, 58, 58);
  padding: 10rem 15rem 10rem 15rem;
  border-radius: 20rem;
  transition: background 0.3s ease;
}

.add-to-cart-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 221, 0);
}

.gray-img {
  filter: grayscale(100%);
  width: 100rem;
}

.soldOut-p {
  font-size: 15rem;
  color: gray;
}

.cart-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(37, 37, 37);
  padding-left: 20rem;
  padding-top: 17rem;
  padding-bottom: 17rem;
  display: flex;
  align-items: center;
  gap: 20rem;
}

.items-number {
  font-size: 18rem;
  color: rgb(224, 224, 224);
}

.total-price {
  font-size: 18rem;
  color: rgb(223, 223, 223);
}

.increase-btn,
.decrease-btn {
  border: none;
  font-size: 20rem;
  background-color: rgb(255, 221, 0);
  border-radius: 20rem;
  padding: 2rem 10rem 2rem 10rem;
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(255, 221, 0);
  border: none;
  border-radius: 20rem;
  font-size: 15rem;
  letter-spacing: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15rem;
  padding-right: 15rem;
  cursor: pointer;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.quantity {
  font-size: 15rem;
}
